.tela-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bannerQuiz {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 69px;
    width: 100vw;
    color: white;
    font-size: 23px;
}

.bannerQuiz img {
    width: 100%;
    height: 227px;
    object-fit: cover;
}

.bannerQuiz div {
    position: absolute;
    font-size: 39px;
}

.bannerQuiz .mascaraBanner {
    background-color: black;
    opacity: 0.6;
    width: 100%;
    height: 100%;
}

.tituloBanner {
    width: 50vw;
    overflow-wrap: break-word;
    text-align: center;
}

.perguntaQuiz {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 42px;
    width: 759px;
    background-color: white;
    box-shadow: 0 0 5px 5px #F4F4F4;
    padding: 28px 36px;
}

.containerGrid { 
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "title title"
                            "a1 a2"
                            "a3 a4";
    width: 690px;
}

.enunciado {
    width: 100%;
    overflow-wrap: break-word;
    text-align: center;
    grid-area: title;
    font-weight: 700;
    font-size: 23px;
    color: white;
    padding: 60px 25px;
}

.alternativa img {
    width: 100%;
}

.alternativa div {
    width: 320px;
    overflow-wrap: break-word;
    font-weight: 700;
    font-size: 20px;
}

.unselected {
    opacity: 0.3;
}

.incorrect {
    color: #FF3808;
}

.correct {
    color: green;
}

.resultado {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 42px;
    width: 759px;
    background-color: white;
    padding: 28px 36px;
    box-shadow: 0 0 5px 5px #F4F4F4;
}

.resultado img {
    width: 100%;
}

.resultado h2 {
    width: 364px;
    overflow-wrap: break-word;
    font-weight: 700;
    font-size: 19px;
}

.containerGridResultado {
    display: grid;
    gap: 20px;
    width: 690px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "title title"
                            "a1 a2";
}

.containerGridResultado .enunciado{
    background-color: #EC362D;
}

.tela-2 .restart-button {
    border: none;

    width: 368.86px;
    max-width: 100%;
    height: 54px;

    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;

    background: var(--cor-red);
    color: var(--cor-branco);
    border-radius: 15px;
}

.tela-2 .main-button {
    border: none;

    width: 368.86px;
    max-width: 100%;
    height: 54px;

    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;

    background: var(--cor-red);
    color: var(--cor-branco);
    border-radius: 15px;
    margin-top: 56px;
}

@media (max-width:1100px) {

    .bannerQuiz div {
        font-size: 19px;
    }

    .bannerQuiz img {
        height: 142px;
    }

    .perguntaQuiz {
        width: 100vw;
    }

    .enunciado {
        font-size: 19px;
        padding: 17px;
    }

    .containerGrid {
        gap: 10px;
        width: 340px;
    }

    .alternativa div {
        width: 164px;
        font-size: 13px;
    }

    .resultado {
        width: 100vw;
    }

    .containerGridResultado {
        gap: 10px;
        grid-template-columns: 1fr;
        grid-template-areas: "title"
                            "a1"
                            "a2";
        width: 340px;
    }

    .containerGridResultado img {
        width: 340px;
    }

    .containerGridResultado .enunciado {
        width: 340px;
    }

    .tela-2 .restart-button {
        font-size: 19px;
        width: 260px;
        height: 50px;
    }
    
    .tela-2 .main-button {
        font-size: 21px;
        width: 260px;
        height: 50px;
    }
}